#loading{
    position: absolute;
    z-index: 1000;
    background-image: url("img/loading.gif");
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;

}


#notification {
    position: absolute;
    display: none;
    width: 20vw;
    right: 1%;
    top: 1%;
    border-radius: 20px;
    border: inset indigo 1vh;
    background-color: blueviolet;
    z-index: 10;
    font-size: 3vh;
    text-align: center;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
  }
 #eggcounter
 {
     display: inline;
     
 } 
 #eggs
 {
    font-size: 5vw;
    width: 30%;
    height: 5vw;
    display: block;
    margin-left: 30%;
    margin-top: 1%;
    
 }
 #eggs > img{
     height: 80%;
     background-size: cover;
 }
 #body{
     background-image: url("img/background.jpg");
     background-size: cover;
     color: orange;
     cursor: default;

 }



.chicken > img{
background-size: cover;
height: 4vw;
padding: 0%;
margin-right: 1%;
display: inline;
vertical-align: sub;

}
#chickensdiv{
    margin-left: 1%;
    width: 20vw;
    display: block;
    font-size: 3vw;
    height: 10vw;
}

.chickentext{
    display: inline;
}
.chickentext > * {
    display: inline;
}
#upgradesdiv {
    display: block;
    float: right;
    width: 15%;
    height: 80vh;
    margin: 1vh;
    margin-right: 1%;
  }
  .upgrade {
    display: block;
 
  }
  button{
    width: 100%;
    margin-top: 1%;
    font-size: 2vh;
    padding: 2%;
    border-radius: 20px;
    border-width: 0.5vh;
    opacity: 0.7;
    color:#444;
    background-color: white;
   
    
  }
  button:hover{
    color:rgb(0, 0, 0);
    background-color: rgb(206, 206, 206);

  }
  #largeEggEvent{
    position: absolute;
    width: 23%;
    background-size: cover;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    display: none;
  }
  